<div id="features-wrapper">
  <div class="container">
<% @m_lens_infos.each.with_index(1) do |m_lens_info, i| %>
<% row_start_flag = (i % 3 == 1) %>
<% row_end_flag = (@m_lens_infos.size == i || i % 3 == 0) %>
<% if row_start_flag %>
    <div class="row">
<% end %>
      <div class="4u 12u(medium)">
        <!-- Box -->
        <section class="box feature">
          <% if m_lens_info.m_image.present? %>
          <a href="<%= m_lens_info.lens_info_url %>" class="image featured" target="_blank_lens"><%= image_tag "#{Rails.application.config.common.images[:src_path]}/#{m_lens_info.m_shop_info.letter_code}/c/c_#{m_lens_info.m_image.path}", alt: m_lens_info.lens_name %></a>
          <% else %>
          <a href="<%= m_lens_info.lens_info_url %>" class="image featured" target="_blank_lens"><%= image_tag 'lens_lists/no_image.jpg' %></a>
          <% end %>
          <div class="inner">
            <header>
              <h2><%= m_lens_info.lens_name %></h2>
              <% if m_lens_info.price %>
              <p>値段：<%= m_lens_info.price.to_s(:delimited) %>円</p>
              <% else %>
              <p>値段：-</p>
              <% end %>
              <% if m_lens_info.stock_state.nil? %>
              <p>在庫：×</p>
              <% elsif m_lens_info.stock_state.to_i == 1 %>
              <p>在庫：〇</p>
              <% elsif m_lens_info.stock_state.to_i == 0 %>
              <p>在庫：×</p>
              <% end %>
              <p>サイト：<a href="<%= m_lens_info.m_shop_info.shop_url %>" target="_blank_shop"><%= m_lens_info.m_shop_info.shop_name %></a></p>
              <p class="no">No.<%= m_lens_info.id %></p>
            </header>
          </div>
        </section>
      </div>
      </a>
<% if row_end_flag %>
    </div>
<% end %>
<% end %>
  </div>
</div>
