<%# 検索の時にしか表示しない %>
<% if request.path_info == '/lens_lists/index' %>
<!-- Search Detail -->
<div class="container" style="margin-top: 1em;">
  <div class="row">
    <div class="11u 12u(medium)" style="text-align: right;">
      <a href="javascript:void(0);" id="detail_search">絞り込み</a>
    </div>
  </div>
  <div class="row">
    <div class="11u 12u(medium)">
      <% if min_price.present? %>
      <%= "最低価格: ¥#{min_price.to_s(:delimited)}" %>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_box">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">検索を絞り込む</h4>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="3u 6u(medium)">
              <%= label :index, :min_price, "最低価格" %>
              <% prices = {""=> "", "1000"=> "¥1,000", "5000"=> "¥5,000", "10000"=> "¥10,000", "30000"=> "¥30,000", "50000"=> "¥50,000", "80000"=> "¥80,000", "100000"=> "¥100,000", "150000"=> "¥150,000", "200000"=> "¥200,000", "300000"=> "¥300,000", "500000"=> "¥500,000"} %>
              <%= select_tag(:min_price, options_from_collection_for_select(prices, :first, :last, selected: @min_price)) %>
            </div>
            <div class="3u 6u(medium)">
              <%= label :index, :min_price, "最高価格" %>
              <%= select_tag(:max_price, options_from_collection_for_select(prices, :first, :last, selected: @max_price)) %>
            </div>
          </div>
          <div class="row">
            <div class="3u 12u(medium)">
              <%= label :index, :min_price, "タグ" %>
              <%= select_tag(:tag, options_from_collection_for_select(@m_proper_noun.fetch_tags_for_display, :first, :last, selected: @tag), id: :tag) %>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button id="detail_reset_btn" type="button" class="btn btn-default">リセット</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
        <button id="detail_search_btn" type="button" class="btn btn-primary">検索</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<% end %>