<% if @q.present? %>
<div id="banner-wrapper">
  <div id="banner" class="box container">
    <div class="row">
      <div class="12u 12u(medium)">
        <p><%= page_entries_info @m_lens_infos %></p>
      </div>
    </div>
  </div>
</div>
<% end %>

<% if @m_lens_infos.present? %>
<div id="header-wrapper" style="padding: 2em 0 0 0">
  <div id="header" class="container">
      <div id="logo" style="padding-bottom: 0">
        <h2>検索結果</h2>
      </div>
  </div>
</div>

<!-- Features -->
<div id="features-wrapper">
  <div class="container">
<% @m_lens_infos.each.with_index(1) do |m_lens_info, i| %>
<% row_start_flag = (i % 3 == 1) %>
<% row_end_flag = (@m_lens_infos.size == i || i % 3 == 0) %>
<% if row_start_flag %>
    <div class="row">
<% end %>
      <div class="4u 12u(medium)">
        <!-- Box -->
        <section class="box feature">
          <a href="<%= m_lens_info.lens_info_url %>" class="image featured"><img src="/assets/lens_lists/pic01.jpg" alt="" /></a>
          <div class="inner">
            <header>
              <h2><%= m_lens_info.lens_name %></h2>
              <p>値段：<%= m_lens_info.price %>円</p>
              <p>在庫：<%= m_lens_info.stock_state == 1 ? "〇" : "×" %></p>
              <p>サイト：<a href="m_lens_info.m_shop_info.shop_url"><%= m_lens_info.m_shop_info.shop_name %></a></p>
            </header>
          </div>
        </section>
      </div>
      </a>
<% if row_end_flag %>
    </div>
<% end %>
<% end %>
  </div>
</div>

<div id="banner-wrapper">
  <div id="banner" class="box container">
    <div class="row">
      <div class="12u 12u(medium)" style="text-align: center;">
        <%= paginate @m_lens_infos %>
      </div>
    </div>
  </div>
</div>
<% end %>