<div class="box container">
  <div class="row">
    <div class="12u 12u(medium)">
      <label><strong>コノハストレージ情報</strong></label>
      <div>コンテナ名：<%= @container_name %></div>
      <div>容量：<%= number_to_human_size(@conoha_container.container_metadata[:bytes]) %></div>
      <div>アイテム数：<%= @conoha_container.container_metadata[:count] %></div>
      <div>メタデータ：<%= @conoha_container.container_metadata[:metadata] %></div>
    </div>
  </div>
</div>

<div id="file-list" class="box container" style="margin-top: 20px;">
  <div class="row">
    <div class="12u 12u(medium)">
      <% if @cache_flag %>
        <label><strong>アイテム一覧</strong></label>&nbsp;&nbsp;<label><font color="red">(キャッシュ:&nbsp;<%= @file_stamp.strftime("%Y年%m月%d日 %H:%M:%S") %>)</font></label>&nbsp;&nbsp;<%= link_to "最新を取得", conoha_list_admin_index_path(force_fetch_flag: true), { style: "font-weight: bold; border-bottom:1px dotted;" } %>
</div>
      <% else %>
        <label><strong>アイテム一覧</strong></label>
      <% end %>
      <div id="folder-tree"></div>
    </div>
  </div>
</div>
<script>
  $(function(){
    modules.admin.dataTree = JSON.parse('<%= raw @js_tree.to_json %>');
    modules.admin.init();
  });
</script>