<%= form_with(model: collect_target, local: true) do |form| %>
  <% if collect_target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(collect_target.errors.count, "error") %> prohibited this collect_target from being saved:</h2>

      <ul>
      <% collect_target.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :m_shop_info_id %>
    <%= form.text_field :m_shop_info_id, id: :collect_target_m_shop_info_id %>
  </div>

  <div class="field">
    <%= form.label :list_url %>
    <%= form.text_field :list_url, id: :collect_target_list_url %>
  </div>

  <div class="field">
    <%= form.label :start_page_num %>
    <%= form.number_field :start_page_num, id: :collect_target_start_page_num %>
  </div>

  <div class="field">
    <%= form.label :end_page_num %>
    <%= form.number_field :end_page_num, id: :collect_target_end_page_num %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
