<p id="notice"><%= notice %></p>

<p>
  <strong>M shop info:</strong>
  <%= @collect_target.m_shop_info %>
</p>

<p>
  <strong>List url:</strong>
  <%= @collect_target.list_url %>
</p>

<p>
  <strong>Start page num:</strong>
  <%= @collect_target.start_page_num %>
</p>

<p>
  <strong>End page num:</strong>
  <%= @collect_target.end_page_num %>
</p>

<%= link_to 'Edit', edit_collect_target_path(@collect_target) %> |
<%= link_to 'Back', collect_targets_path %>
