<%= form_with(model: m_shop_info, local: true) do |form| %>
  <% if m_shop_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(m_shop_info.errors.count, "error") %> prohibited this m_shop_info from being saved:</h2>

      <ul>
      <% m_shop_info.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :shop_name %>
    <%= form.text_field :shop_name, id: :m_shop_info_shop_name %>
  </div>

  <div class="field">
    <%= form.label :shop_url %>
    <%= form.text_field :shop_url, id: :m_shop_info_shop_url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
