<p id="notice"><%= notice %></p>

<h1>M Shop Infos</h1>

<table>
  <thead>
    <tr>
      <th>Shop name</th>
      <th>Shop url</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @m_shop_infos.each do |m_shop_info| %>
      <tr>
        <td><%= m_shop_info.shop_name %></td>
        <td><%= m_shop_info.shop_url %></td>
        <td><%= link_to 'Show', m_shop_info %></td>
        <td><%= link_to 'Edit', edit_m_shop_info_path(m_shop_info) %></td>
        <td><%= link_to 'Destroy', m_shop_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New M Shop Info', new_m_shop_info_path %>
