<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %> | 簡単オールドレンズ検索</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# stylesheet_link_tag 'lnes_lists/lnes_lists', media: 'all' %>
    <%# partial_stylesheet_link_tag controller.controller_name, 'lnes_lists', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="page-wrapper">

  <!-- Header -->
    <div id="header-wrapper">
      <header id="header" class="container">

        <!-- Logo -->
          <div id="logo">
            <h1><%= link_to '簡単オールドレンズ検索', '/lens_lists/top' %></h1>
            <!-- <span>by HTML5 UP</span> -->
          </div>

        <!-- Nav -->
          <nav id="nav">
            <ul>
              <li><%= link_to 'トップ', '/lens_lists/top' %></li>
              <li><%= link_to 'レンズを探す', '/lens_lists/index' %></li>
              <li><a href="index.html">サイトについて</a></li>
              <li><a href="no-sidebar.html">お問い合わせ</a></li>
            </ul>
          </nav>

          <div id="search_bar" class="container">
            <%= form_tag('/lens_lists/index', multipart: true, id: 'lens_lists_index') do %>
            <div class="row">
              <div class="10u 12u(medium)">
                <%= text_field_tag 'q', @q, placeholder: 'レンズ名を入力' %>
              </div>
              <div class="2u 12u(medium)">
                <%= link_to 'レンズを探す', 'javascript:void(0);', class: "button icon", id: "search_exec" %>
              </div>
            </div>
            <% end %>
          </div>
      </header>
    </div>

    <%= yield %>

    <%= render :partial => 'footer' %>

    <script>
      (function($) {
        $('#q').keypress( function ( e ) {
          if (e.which == 13) { // Enter
            $('#search_exec').click();
            return false;
          }
        });
        $('#search_exec').on('click', function(){
          var action = $('#lens_lists_index').attr('action');
          var param = $('#q').val();
          window.location.href = action + '?q=' + param;
        });
        var currentPath = '<%= request.path %>';
        $('#nav li a').each(function(i, element){
          if($(element).attr('href') == currentPath){
            $(element).parent().addClass('current');
          }
        })
      })(jQuery);
    </script>

  </body>
</html>
